*,
*::before,
*::after {
margin: 0;
padding: 0;
}

html {
    box-sizing: inherit;
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

.icon {
    width: 6rem;
    height: 6rem;
    padding: 2rem;
}

