@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,600,900');

html {
  font-family: "Raleway", sans-serif;
  font-weight: 300;

  @include media(large) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 90%
    }
    @include media(medium) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 90%
    }

    @include media(small) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 80%
    }

    @include media(xsmall) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 80%
    }
    
    @include media(bdesktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

a {
  &:link, &:visited, &:hover, &:active {
    color: black;
    text-decoration: none;
    outline: none;
}
}

.logo, .footer__logo {
  font-family: "Pacifico", serif;
}

.main {
  font-size: 6rem;
  color: #262626;
  font-weight: 900;
}

.secondary {
  font-size: 9rem;
  color: #ffffff;
  font-weight: 600;

  &--dark {
    color: #262626;
  }

  @include media(small) {
    font-size: 6rem;
  } 
  
  @media (max-width: 750px) {
    padding: 2rem;
    // font-size: 7rem;
  }
}

.contact {
  font-size: 1.7rem;
}

.footer {
  font-size: 1.6rem;
  color: #b9b9b9;

  &__logo {
    font-size: 2.5rem;
  }
}