@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,600,900');

html {
  font-family: "Raleway", sans-serif;
  font-weight: 300;

}

.logo, .footer__logo {
  font-family: "Pacifico", serif;

}

.main {
  font-size: 6rem;
  color: #262626;
  font-weight: 900;
}

.secondary {
  font-size: 9rem;
  color: #ffffff;
  font-weight: 600;
  
  &--dark {
    color: #262626;
  }
  
  @include media(small) {
    font-size: 6rem;
  } 
  
  @media (max-width: 750px) {
    padding: 2rem;
    // font-size: 7rem;
  }
}

.subscribe {

  &__heading {
    font-size: 4rem;
    line-height: 2.7rem;
    color: #262626;
    font-weight: 600;
  }

  &__text {
      font-size: 1.7rem;
      line-height: 2.7rem;
      color: #262626;
      font-weight: 300;
    }

  &__email {
    font-size: 1.5rem;
    line-height: 2.7rem;
    font-family: "Raleway";
    font-weight: 400;
    color: rgb(8, 8, 8);
    
    &::placeholder {
      color: #262626;
      font-weight: 300;
    }
  }
}

.contact {
  font-size: 1.7rem;
}

p {
  line-height: 2.5rem;
  font-size: 2rem;
}

.footer {
  font-size: 1.6rem;
  color: #b9b9b9;
  
  &__logo {
    font-size: 2.5rem;
  }

  span {
    color: #ff2b58;
  }
}