.blog {
  background: #b07cf7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10rem 0;
  // height: 80rem;
  max-height: auto;
  transition: all 2s ease-out;
  // min-height: 85rem;


  &__post:hover &__title, &__post:hover &__author {
    transform: translateX(0);
    opacity: 1;
  }

  
  &__post:hover &__date {
    transform: scale(1.3);
  }
  
  
  @media (max-width: 600px) {
    padding: 5rem 0;
  }
  
  &__heading {
    flex-basis: 100%;
    text-align: center;
  }
  
  &__text {
    flex-basis: 100%;
    text-align: center;
    justify-content: center;
  }
  
  &__post {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.3rem 1rem;
    width: 37rem;
    height: 31rem;
    padding: 2rem;
    filter: grayscale(50%);
    transition: all .2s ease-in;
    cursor: pointer;
    overflow: hidden;
    animation: expand .1s ease-in-out;

    
    &:hover {
      filter: grayscale(0);
      // transform: scale(1.02);
      box-shadow: 3px 3px 12px rgba(0,0,0,.7);
    }
    
    
    &--1 {
      background: linear-gradient(transparent 60%, rgba(0,0,0,.9)), url(../../img/blog-post-1.png) no-repeat right bottom / cover;
    }
    
    &--2 {
      background: linear-gradient(transparent 60%, rgba(0,0,0,.9)), url(../../img/blog-post-2.png) no-repeat right bottom / cover;
    }

    &--3 {
      background: linear-gradient(transparent 60%, rgba(0,0,0,.9)), url(../../img/blog-post-3.png) no-repeat right bottom / cover;
    }

    &--4 {
      background: linear-gradient(transparent 60%, rgba(0,0,0,.9)), url(../../img/blog-post-4.jpg) no-repeat right bottom / cover;
      background-size: cover;
      background-position: 50% 0;
    }

    &--5 {
      background: linear-gradient(transparent 60%, rgba(0,0,0,.9)), url(../../img/blog-post-5.jpg) no-repeat right bottom / cover;
    }

    &--6 {
      background: linear-gradient(transparent 60%, rgba(0,0,0,.9)), url(../../img/blog-post-6.jpg) no-repeat right bottom / cover;
      background-position: 0 0;
    }
  }
  
  &__date {
    display: block;
    width: 6rem;
    height: 6rem;
    padding-top: .5rem;
    text-align: center;
    color: #ffffff;
    font-family: "Raleway";
    line-height: 2.5rem;
    font-size: 2.1rem;
    border-radius: 5px;
    background-color: rgba(38, 38, 38, 0.466);
    transition: all .3s ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    
    > span {
      font-size: 3.2rem;
      line-height: 2.5rem;
      font-weight: 600;
      -webkit-font-smoothing: subpixel-antialiased;
      backface-visibility: hidden;
    }
  }

  &__title {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 600;
    transition: all .4s ease;
    transform: translateX(-100%);
    opacity: 0;
  }

  &__author {
    padding-top: 1rem;
    color: #fff;
    font-size: 1.5rem;
    transition: all .4s ease;
    transform: translateX(100%);
    opacity: 0;
  }

.wrapper-btn {
  margin-top: 4rem;
  flex-basis: 100%;
  text-align: center;
}
}
