.btn {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  padding: 1.5rem 2rem;
  cursor: pointer;
  transition: all .1s;
  text-transform: uppercase;

  &:active {
    transform: translateY(3px);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  }

  &--1 {
    background-color: #ff6033;
  }

  &--2 {
    background-color: #5585a2;
  }

  &--3 {
    font-size: 2rem;
    // line-height: 2.7rem;
    background-color: #96b92c;
  }

  &--4 {
    background-color: #f72b3b;;
    // flex-basis: 100%;
    align-self: flex-end;
  }
}

.services__btn {
  display: flex;
  background: #fff;
  width: 50rem;
  height: 10rem;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: .2s all;

  @include media(small) {
    width: 90%;
  }

  &:active {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  }
  &-name {
    border-right: 2px solid #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    line-height: 2.7rem;
    color: #262626;
    font-weight: 600;
    text-align: center;
  }
}