.footer {
  display: flex;
  justify-content: space-around;
  background: #262626;
  align-items: baseline;
  padding: 2.5rem 0 2.5rem 0;

  @include media(small) {
    flex-direction: column-reverse;
    align-items: center;

    p {
      padding: 1rem 0;
    }
  }

  a {
    color: inherit;
    transition: .2s;

    &:hover {
      color: #ff2b58;
    }
  }


}